td:not(:first-of-type) {
  text-align: center;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table-row-headers {
  font-weight: 600;
  border-bottom: 1px solid var(--color-table);
}

.table-header {
  padding-block-end: 5px;
}

.table-header-shop-name {
  min-width: 314px;
}

.table-header-item-value {
  min-width: 100px;
}

.table-header-is-shipping {
  min-width: 100px;
}

.table-header:not(:last-of-type) {
  border-right: 1px solid var(--color-table);
}

.table-data {
  padding-block: 5px;
}

.table-data:not(:last-of-type) {
  border-right: 1px solid var(--color-table);
}

.table-row:not(:last-of-type) {
  border-bottom: 1px solid var(--color-table);
}

.table-data-shop-name {
  min-width: 314px;
}

.table-data-item-value {
  width: 100px;
}

.table-header-item-value {
  min-width: 100px;
}

.table-data-shop-shipper-name {
  user-select: none;
}

.table-data-result-highlight {
  background-color: rgba(219, 226, 239, 0.5);
}